@page
@model SofdCoreSystem.Pages.AccountCreation.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AccountCreation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountCreation.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountCreation.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountCreation.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountCreation.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountCreation.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountCreation.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountCreation.JobType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountCreation.JobType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountCreation.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountCreation.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountCreation.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountCreation.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountCreation.EmployeeNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountCreation.EmployeeNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountCreation.WorkHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountCreation.WorkHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountCreation.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountCreation.CreationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountCreation.LastUpdated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountCreation.LastUpdated)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="AccountCreation.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
