@page
@model SofdCoreSystem.Pages.AccountCreation.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AccountCreation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountCreation.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountCreation.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountCreation.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountCreation.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountCreation.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountCreation.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountCreation.JobType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountCreation.JobType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountCreation.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountCreation.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountCreation.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountCreation.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountCreation.EmployeeNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountCreation.EmployeeNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountCreation.WorkHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountCreation.WorkHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountCreation.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountCreation.CreationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountCreation.LastUpdated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountCreation.LastUpdated)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AccountCreation.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
