@page
@model SofdCoreSystem.Pages.AccountCreation.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountCreation[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountCreation[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountCreation[0].Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountCreation[0].JobType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountCreation[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountCreation[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountCreation[0].EmployeeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountCreation[0].WorkHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountCreation[0].CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountCreation[0].LastUpdated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AccountCreation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
