@* @page
@model SDLoenSystem.Pages.EmployeeInfo.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EmployeeInfo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeInfo.CPRNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeInfo.CPRNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeInfo.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeInfo.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeInfo.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeInfo.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeInfo.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeInfo.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeInfo.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeInfo.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeInfo.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeInfo.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeInfo.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeInfo.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeInfo.WorkPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeInfo.WorkPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeInfo.MobilePhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeInfo.MobilePhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeInfo.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeInfo.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeInfo.EmploymentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeInfo.EmploymentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeInfo.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeInfo.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeInfo.WorkHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeInfo.WorkHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeInfo.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeInfo.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeInfo.Institution)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeInfo.Institution)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeInfo.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeInfo.Department)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeInfo.Comments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeInfo.Comments)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.EmployeeInfo.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
 *@